################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/1/punto-1/task-app-desktop/.vs/task-app-desktop/CopilotIndices/0.2.1657.32929
/1/punto-1/task-app-desktop/.vs
/2/TasksManagementDesktop/.vs/TasksManagementDesktop
